.btn {
  background-color:#575757;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 2rem;
}
.btn:hover {
  background-color: #575757;
}
.btn:active {
  transform: translateY(2px);
}

.btn_box {
  width: 100%;
text-align:center;

  
}
.btn_shadow {
  width: 3.8rem;
  height: 3.8rem;
  background-color: rgba(10, 9, 9, 0.665);
  border-radius: 60%;
  position:absolute;
top:60%;
left:40%

  z-index: -1;
}
